ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.2
    hooks:
      - id: biome-check
